<%- include ('../partials/header.ejs') %>

<div class = "container">
    <header class="jumbotron">
        <div class="container">
            <h1 style="margin-left: 100px"><mark>Welcome to Pocket Market</mark></h1>
            <p style="margin: 25px 4px 4px 180px"> Sharing is the fruit of dedication! Sharing is the premise of happiness!</p>
            <p>
                <a class ="btn btn-primary btn-lg" href="/p_markets/new">Share</a>
            </p>
        </div>
    </header>

    <div class="row" style="display:flex; flex-wrap: wrap">
        <% p_markets.forEach(function(p_market){ %>
            <div class= "col-lg-9 col-md-9 col-sm-9 col-centered">
                <div class="thumbnail">
                    <img src="<%= p_market.image %>" >
                    <div class="caption">
                        <h4><%= p_market.name%></h4>
                    </div>
                    <p>
                    <a href="/p_markets/<%= p_market._id%>" class ="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<%- include ('../partials/footer.ejs') %>
