<%- include ('../partials/header.ejs') %>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <p class="lead">J Food Blogger</p>
            <div class="list-group">
                <li class="list-group-item" ><a href="/PocketMarket/new">Create new post</a></li>
                <li class="list-group-item" ><a href="#commentSection">See comments</a></li>
                <li class="list-group-item" ><a href="/PocketMarket">Go Back</a></li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
               <img class="img-responsive" src="<%= pocketMarket.image %>">
               <div class="caption-full">
                   <h4 class="pull-right">$<%=pocketMarket.price%></h4>
                   <h4><a><%= pocketMarket.name %></a></h4>
                   <p><%= pocketMarket.description %></p>
                   <p>
                       <em>Submitted By <a href="/users/<%= pocketMarket.author.id %>"><%= pocketMarket.author.username %></a></em>
                   </p>
                   <% if (currentUser && pocketMarket.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                   <a class="btn btn-warning" href="/PocketMarket/<%= pocketMarket._id %>/edit"> Edit </a>
                   <form class="delete-form" action="/PocketMarket/<%= pocketMarket._id %>?_method=DELETE" method="POST" >
                       <button  class="btn btn-danger">Delete</button>
                   </form>
                   <% } %>
               </div>
            </div>
            <div class="well">
                <div class="text-right" id="commentSection">
                       <a class="btn btn-success" href="/PocketMarket/<%= pocketMarket._id %>/comments/new"> Add New Comment </a>
                </div>
                <hr>
                <% pocketMarket.comments.forEach(function(comment){ %>
                <div class="row">
                    <div class="col-md-12">
                        <strong><a href="/users/<%= comment.author.id %>"><%= comment.author.username %></a></strong>
                        <span class="pull-right"><%= comment.author.dateAdded %></span>
                        <p>
                          <%= comment.text %>
                        </p>
                    <% if (currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                        <a class="btn btn-xs btn-warning" href="/PocketMarket/<%=pocketMarket._id%>/comments/<%=comment._id%>/edit">Edit 
                        </a>
                        <form class="delete-form" action="/PocketMarket/<%=pocketMarket._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                          <input type="submit" class="btn btn-xs btn-danger" value="delete"> 
                        </form>
                    <% } %>
                    </div>
                </div>
            <% })%>
            </div>
            <a class="btn btn-xs btn-warning" href="/PocketMarket">Go Back</a>
        </div>
    </div>
</div>            


<%- include ('../partials/footer.ejs') %>          