<%- include ('../partials/header.ejs') %>

<div class="row">
	<div class="col-md-4">
		<h1><%= user.firstName + " " + user.lastName %></h1>
		<div class="thumbnail">
				<div class="caption"><a href="mailto:<%= user.email %>"><%= user.email %></a></div>
		</div>
	</div>
	<div class="col-md-8">
		<h3><%= user.username %>'s posts:</h3>
		<% var count = 0 %>
		<% PocketMarket.forEach(function(pocketMarket) { %>
			<% count++ %>
		<% }); 
		%><% if(count != 0){ %>
			<ul class="list-group">
			<% PocketMarket.forEach(function(pocketMarket) { %>
				<li class="list-group-item"><a href="/PocketMarket/<%= pocketMarket.id %>"><%= pocketMarket.name %></a></li>
			<% }); %>
			</ul>
		<% } else { %>
			<p><%= user.firstName %> has not made any post yet.</p>
		<% } %>
	</div>
</div>

<%- include ('../partials/footer.ejs') %>